@import "tailwindcss";

@font-face {
  font-family: 'PressStart2P';
  src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-pressstart2p: 'PressStart2P', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

h1, div.card {
  font-family: 'PressStart2P', sans-serif;
}

button {
  font-family: 'PressStart2P', sans-serif;
  clip-path: polygon(
          0px calc(100% - 20px),
          4px calc(100% - 20px),
          4px calc(100% - 12px),
          8px calc(100% - 12px),
          8px calc(100% - 8px),
          12px calc(100% - 8px),
          12px calc(100% - 4px),
          20px calc(100% - 4px),
          20px 100%,
          calc(100% - 20px) 100%,
          calc(100% - 20px) calc(100% - 4px),
          calc(100% - 12px) calc(100% - 4px),
          calc(100% - 12px) calc(100% - 8px),
          calc(100% - 8px) calc(100% - 8px),
          calc(100% - 8px) calc(100% - 12px),
          calc(100% - 4px) calc(100% - 12px),
          calc(100% - 4px) calc(100% - 20px),
          100% calc(100% - 20px),
          100% 20px,
          calc(100% - 4px) 20px,
          calc(100% - 4px) 12px,
          calc(100% - 8px) 12px,
          calc(100% - 8px) 8px,
          calc(100% - 12px) 8px,
          calc(100% - 12px) 4px,
          calc(100% - 20px) 4px,
          calc(100% - 20px) 0px,
          20px 0px,
          20px 4px,
          12px 4px,
          12px 8px,
          8px 8px,
          8px 12px,
          4px 12px,
          4px 20px,
          0px 20px
  );
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
  4px calc(100% - 20px),
  4px calc(100% - 12px),
  8px calc(100% - 12px),
  8px calc(100% - 8px),
  12px calc(100% - 8px),
  12px calc(100% - 4px),
  20px calc(100% - 4px),
  20px 100%,
  calc(100% - 20px) 100%,
  calc(100% - 20px) calc(100% - 4px),
  calc(100% - 12px) calc(100% - 4px),
  calc(100% - 12px) calc(100% - 8px),
  calc(100% - 8px) calc(100% - 8px),
  calc(100% - 8px) calc(100% - 12px),
  calc(100% - 4px) calc(100% - 12px),
  calc(100% - 4px) calc(100% - 20px),
  100% calc(100% - 20px),
  100% 20px,
  calc(100% - 4px) 20px,
  calc(100% - 4px) 12px,
  calc(100% - 8px) 12px,
  calc(100% - 8px) 8px,
  calc(100% - 12px) 8px,
  calc(100% - 12px) 4px,
  calc(100% - 20px) 4px,
  calc(100% - 20px) 0px,
  20px 0px,
  20px 4px,
  12px 4px,
  12px 8px,
  8px 8px,
  8px 12px,
  4px 12px,
  4px 20px,
  0px 20px);
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 20px,
  8px 20px,
  8px 12px,
  12px 12px,
  12px 8px,
  20px 8px,
  20px 4px,
  calc(100% - 20px) 4px,
  calc(100% - 20px) 8px,
  calc(100% - 12px) 8px,
  calc(100% - 12px) 12px,
  calc(100% - 8px) 12px,
  calc(100% - 8px) 20px,
  calc(100% - 4px) 20px,
  calc(100% - 4px) calc(100% - 20px),
  calc(100% - 8px) calc(100% - 20px),
  calc(100% - 8px) calc(100% - 12px),
  calc(100% - 12px) calc(100% - 12px),
  calc(100% - 12px) calc(100% - 8px),
  calc(100% - 20px) calc(100% - 8px),
  calc(100% - 20px) calc(100% - 4px),
  20px calc(100% - 4px),
  20px calc(100% - 8px),
  12px calc(100% - 8px),
  12px calc(100% - 12px),
  8px calc(100% - 12px),
  8px calc(100% - 20px),
  4px calc(100% - 20px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
  4px calc(100% - 20px),
  4px calc(100% - 12px),
  8px calc(100% - 12px),
  8px calc(100% - 8px),
  12px calc(100% - 8px),
  12px calc(100% - 4px),
  20px calc(100% - 4px),
  20px 100%,
  calc(100% - 20px) 100%,
  calc(100% - 20px) calc(100% - 4px),
  calc(100% - 12px) calc(100% - 4px),
  calc(100% - 12px) calc(100% - 8px),
  calc(100% - 8px) calc(100% - 8px),
  calc(100% - 8px) calc(100% - 12px),
  calc(100% - 4px) calc(100% - 12px),
  calc(100% - 4px) calc(100% - 20px),
  100% calc(100% - 20px),
  100% 20px,
  calc(100% - 4px) 20px,
  calc(100% - 4px) 12px,
  calc(100% - 8px) 12px,
  calc(100% - 8px) 8px,
  calc(100% - 12px) 8px,
  calc(100% - 12px) 4px,
  calc(100% - 20px) 4px,
  calc(100% - 20px) 0px,
  20px 0px,
  20px 4px,
  12px 4px,
  12px 8px,
  8px 8px,
  8px 12px,
  4px 12px,
  4px 20px,
  0px 20px,
  0px 50%,
  4px 50%,
  4px 20px,
  8px 20px,
  8px 12px,
  12px 12px,
  12px 8px,
  20px 8px,
  20px 4px,
  calc(100% - 20px) 4px,
  calc(100% - 20px) 8px,
  calc(100% - 12px) 8px,
  calc(100% - 12px) 12px,
  calc(100% - 8px) 12px,
  calc(100% - 8px) 20px,
  calc(100% - 4px) 20px,
  calc(100% - 4px) calc(100% - 20px),
  calc(100% - 8px) calc(100% - 20px),
  calc(100% - 8px) calc(100% - 12px),
  calc(100% - 12px) calc(100% - 12px),
  calc(100% - 12px) calc(100% - 8px),
  calc(100% - 20px) calc(100% - 8px),
  calc(100% - 20px) calc(100% - 4px),
  20px calc(100% - 4px),
  20px calc(100% - 8px),
  12px calc(100% - 8px),
  12px calc(100% - 12px),
  8px calc(100% - 12px),
  8px calc(100% - 20px),
  4px calc(100% - 20px),
  4px 50%,
  0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0099ff;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}

/*body {*/
  /*font-family: 'PressStart2P', sans-serif;*/
/*}*/

.text-content img {
  display: block;
  max-width: 100%;
  height: auto;

  /* ograniczenie wysokości */
  max-height: 60vh;

  /* estetyka */
  margin: 0.5rem 0;
  object-fit: contain;
}
